<!-- <div>{{tempCategory.title}}</div>
<div>{{tempCategory.date}}</div>
<div>{{tempCategory.description}}</div>
<img src={{tempCategory.image}} /> -->
<div class="container mx-auto min-h-screen my-10">


<div class="flex flex-row gap-10 max-md:flex-col">
    <div>
        <img src={{tempCategory.image}} class="w-[800px] h-[500px] max-md:w-full max-md:h-[400px] object-cover"/>
    </div>
    <div>
        <div class="text-5xl text-blue-600">{{tempCategory.title}}</div>
        <div class="text-gray-400 my-2">{{tempCategory.date}}</div>
    </div>
</div>
<div class="my-10 text-lg">{{tempCategory.description}}</div>
</div>