<div class="flex flex-row container mx-auto">
    <div class="flex flex-col">
        <div class="text-4xl font-bold text-blue-600">
            LET FIND OPPORTUNITIES
        </div>
        <div class="my-28 text-2xl">
            <span class="text-cyan-600">"</span>Discovering <span class="text-cyan-600">opportunities</span> opens doors to growth and success.<span class="text-cyan-600">"</span>
        </div>
    </div>
    
    <div>
        <img src="../../../assets/image/home-page-image.png" alt="">
    </div>
</div>

