<div class="flex flex-row justify-between container mx-auto h-14 sticky top-0 bg-white">
    
        <div class="mt-5">logo</div>
        <ul class="flex flex-row gap-10 mt-5">
            <li class="uppercase">
                <a 
                routerLink="" 
                routerLinkActive="linkActive" 
                [routerLinkActiveOptions]="{ exact: true }">HOME</a>
            </li>
            <li class="uppercase">
                <a 
                routerLink="/category" 
                routerLinkActive="linkActive">categories</a>
            </li>
            <li class="uppercase">
                <a 
                routerLink="/internship" 
                routerLinkActive="linkActive">internship</a></li>
            <li class="uppercase">
                <a 
                routerLink="/aboutUs" 
                routerLinkActive="linkActive">about us</a></li>
        </ul>
    
</div>



